*,*::before, *::after{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  
}
body{
  font-size: 2rem ;
}

:root {
  --color-white : white;
  --color-primary-light : #FBEEC1;
  --color-secondary-light: #BC986A;
  --color-secondary-dark : #DAAD86;
  --color-blue : #659DBD;
  --color-tertiary : #8Db741;

}
body{
  font-family: 'Lato',sans-serif;

}
.heading{
  text-transform: uppercase;
  
}
.heading_primary{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--color-white);
  font-size: 5rem;
  font-family: 'Abril fatface',sans-serif;
}
.heading_secondary{
  color: var(--color-secondary-dark);
  text-align: center;
  letter-spacing: 4px;
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.heading_tertiary{
  text-align: center;
  color: var(--color-tertiary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.color_white{
  color: var(--color-white);
}
.paragraph{
  max-width: 70rem;
  text-align: justify;
  color: var(--color-white);
  line-height: 1.3;
  letter-spacing: 2px;
  font-family: 'Oooh Baby',sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
.mx-114{
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  
}
.welcomeText{
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--color-white);
  font-size: 4rem;
  font-family: 'Amatic SC',sans-serif;
  
}
.row{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row >*{
  margin-bottom: 2rem;
}

.col{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link{
  text-decoration: none;
}
.white{
  color: var(--color-white);
}
.secondary{
  color: var(--color-secondary-light);
}

@media (max-width:800px){
  .heading_primary{
    font-size: 4rem;
  }
  .paragraph{
    font-size: 2.3rem;
  }
}

@media (max-width:750px){
  .heading_secondary{
    font-size: 3rem;
  }
  .paragraph{
    max-width: 60rem;
  }
}
@media (max-width : 656px){
  .heading_primary{
    font-size: 3.3rem;
  }
  .heading_secondary{
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .paragraph{
    max-width: 50rem;
  }
}

@media (max-width : 550px){
  .heading_primary{
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .paragraph{
    max-width: 40rem;
  }
}

@media (max-width : 450px){
  .heading_primary{
    font-size: 2.5rem;
    letter-spacing: 1.5px;
  }
  .paragraph{
    max-width: 35rem;
    font-size: 2.2rem;
  }
}